@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/_global" as *;

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 70vh;

  &__titles {
    font-size: 60px;
    color: #ffffff;
    display: flex;
    flex-direction: column;

    justify-content: center;

    &--main {
      font-size: 1.5rem;
      margin-bottom: 0rem;
    }

    &--subtitle {
    }
  }

  &__iframe {
    width: 30vw;

    padding-top: 0rem;
  }
}
.list {
  font-size: 2rem;
  padding-left: 3rem;
}
.shows {
  &__container {
    font-size: 1rem;
    padding-left: 3rem;
  }
}

.btn {
  display: flex;
  flex-direction: row-reverse;
}
